*{
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(
        https://assets.nflxext.com/ffe/siteui/vlv3/f669a8f4-de1e-49d7-bb56-c9bd1f4a9069/1527f5f9-936b-43ac-8fd8-3d6200c0ae25/BR-pt-20221031-popsignuptwoweeks-perspective_alpha_website_small.jpg
    );
    background-size: cover;
}

#heading {
    display: flex;
    background-color: #000;
    justify-content: space-between;
    z-index: 4;
}

#heading div {
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
}

#heading h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 56px;
    margin-right: 56px;
    font-size: 30px;
    text-transform: uppercase;
    color: #e50914;
}

#heading a {
    color: inherit;
    text-decoration: none;
    font-family: sans-serif;
}

#heading select {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-radius: 5px;
}